* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    text-align: center;
}

.container {
    /* background-color: red; */
    height: 55vh;
    /* width: 50vw;  */
    display: flex; 
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.game {
    height: 50vmin;
    width: 50vmin;
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
} 

.box {
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(00, 00, 00, 0.5);
    font-size: 8vmin;
    color: black;
    background-color: white;
}

#reset-btn {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    font-weight: bold;
    font-size: 3vmin;
    box-shadow: 0 0 1rem rgba(00, 00, 00, 0.5);
}

#new-game-btn {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    font-weight: bold;
    font-size: 3vmin;
    box-shadow: 0 0 1rem rgba(00, 00, 00, 0.5);
}

#msg {
    /* background-color: white; */
    font-size: 8vmin;
}

.hide {
    display: none;
}

footer {
    position: fixed;
    margin-bottom: 2px;
    width: 100%;
    /* background-color: white; */
    bottom: 0;
    padding: 10px 0;
}

#footer-text {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}